<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="mystyles.css" media="screen" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Employee Web Page</title>

</head>
<body>
<h1>C S Squared System</h1>
<#include "/views/nav.html" parse=false>

<!--<div class = "well well-sm">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/home">Home</a></li>
        <li role="presentation"><a href="/ListUsers">User List</a></li>
        <li role="presentation"><a href="/ListRis">Reimbursements List</a></li>
        <li role="presentation"><a href="/createReimbursement">Submit Reimbursement</a></li>
        <li role="presentation"><a href="/reviewReimbursement">Review Reimbursement</a></li>
        <li role="presentation"><a href="/login">LogOut</a></li>
    </ul>
</div> -->

<h2>C S Squared Reimbursement Listing</h2>
<div class=table-responsive>
    <table class="table table-striped">
        <thead>
        <tr>

        <td>ID</td>
        <td>Amount</td>
        <td>Description</td>
        <td>Submitted</td>
        <td>Resolved</td>
        <td>Author</td>
        <td>Resolver</td>
        <td>Status ID</td>
        <td>Type ID</td>
    </tr>
    </thead>
    <tbody>
    <#list reimbersment as reimbursments>
        <tr>
            <td>${reimbursments.id}</td>
            <td>${reimbursments.amount}</td>
            <td>${(reimbursments.description) !""}</td>
            <td>${reimbursments.submitted}</td>
            <td>${(reimbursments.resolved) !""}</td>
            <td>${reimbursments.author}</td>
            <td>${(reimbursments.resolver) !""}</td>
            <td>${reimbursments.typeId}</td>
            <td>${reimbursments.statusID}</td>

        </tr>
    </#list>
    </tbody>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>