<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C S Squared Reimbursments</title>

    <link rel="stylesheet" type="text/css" href="mystyles.css" media="screen" />

</head>
<body>

<h1>C S Squared reimbusments listing</h1>


<table>
    <thead>
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Amount</th>
        <th class="text-center">Description</th>
        <th class="text-center">Receipt</th>
        <th class="text-center">Submitted</th>
        <th class="text-center">Resolved</th>
        <th class="text-center">Author</th>
        <th class="text-center">Resolver</th>
        <th class="text-center">RS_ID</th>
        <th class="text-center">RT_ID</th>
    </tr>
    </thead>
    <tbody>
    <#List reimbursment as reimbursments">
        <tr>
            <td>${reimbursments.id}</td>
            <td>${reimbursments.amount}</td>
            <td>${reimbursments.description}</td>
            <td>${reimbursments.receipt}</td>
            <td>${reimbursments.submitted}</td>
            <td>{reimbursments.resolved}</td>
            <td>${reimbursments.author}</td>
            <td>${reimbursments.resolver}</td>
            <td>${reimbursments.rs_id}</td>
            <td>${reimbursments.rt_id}</td>

        </tr>
    </#List>
    </tbody>
</table>
</body>
</html>