
<div class = "well well-sm">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/emplHome">Home</a></li>
        <li role="presentation"><a href="/ListUsers">User List</a></li>
        <li role="presentation"><a href="/updateUser">Update User Information</a></li>
        <li role="presentation"><a href="/ListRis">Reimbursements List</a></li>
        <li role="presentation"><a href="/createReimbursement">Submit Reimbursement</a></li>
        <li role="presentation"><a href="/viewAllReimbursements">View All Reimbursements</a></li>
        <li role="presentation"><a href="/login">LogOut</a></li>
    </ul>
</div>