<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="mystyles.css" media="screen" />
    <title>C S Squared Reimbursement</title>
</head>
<body>
<h1>C S Squared Submit Reimbursement</h1>

<form name="reimbursementForm" action="createRbrstmnt" method="post">
    <p>
        <label for="id">ID:</label>
        <input id="id" type="number" name ="id"/><br/>
    </p>
    <p>
        <label for="amount">Amount:</label>
        <input id="amount" type="number" name ="amount"/><br/>
    </p>
    <P>
        <label for="description">Description:</label>
        <input id="description" type="text" name ="description"/><br/>
    </P>
    <p>
        <label for="receipt">Receipt:</label>
        <input id="receipt" type="text" name ="receipt"/><br/>
    </p>
    <p>
        <label for="submitted">Amount:</label>
        <input id="submitted" type="text" name ="submitted"/><br/>
    </p>
    <p>
        <label for="resolved">Resolved:</label>
        <input id="resolved" type="text" name ="resolved"/><br/>
    </p>
    <p>
        <label for="id_author">AuthorId:</label>
        <input id="id_author" type="number" name ="id_author"/><br/>
    </p>
    <p>
        <label for="id_resolver">ResolverId:</label>
        <input id="id_resolver" type="number" name ="id_resolver"/><br/>
    </p>
    <p>
        <label for="rs_id">StatusId:</label>
        <input id="rs_id" type="number" name ="rs_id"/><br/>
    </p>
    <p>
        <label for="rt_id">TypeId:</label>
        <input id="rt_id" type="number" name ="rt_id"/><br/>
    </p>


    <input type="submit" value="Submit"/>
</form>
</body>
</html>