<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C S Squared</title>
    <link rel="stylesheet" type="text/css" href="mystyles.css" media="screen" />

</head>
<body>

<h1>C S Squared employee listing</h1>


<table>
<thead>
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">User Name</th>
        <th class="text-center">First</th>
        <th class="text-center">Last</th>
        <th class="text-center">Email</th>
        <th class="text-center">Role ID</th>
        <!--<th class="text-center">Role</th>-->
    </tr>
</thead>
    <tbody>
    <forEach var="employee" items="${users}">
        <tr>

            <td><out value="${employee.ID}" /></td>
            <td><out value="${employee.username}" /></td>
            <td><out value="${employee.firstname}" /></td>
            <td><out value="${employee.lastname}" /></td>
            <td><out value="${emmployee.email}" /></td>
            <td><out value="${employee.roleid}" /></td>
            <td><out value="${employee.role}" /></td>
        </tr>
    </forEach>
    </tbody>
</table>

</body>
</html>