<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C S Squared User Update</title>
</head>
<body>
<h1>C S Squared User Update</h1>

<form action="update" method="post">
    Username: <input type="text" name ="username"/><br/>
    First Name: <input type="text" name ="firstname"/><br/>
    Last Name: <input type="text" name ="lastname"/><br/>
    Email: <input type="text" name ="email"/><br/>
    Role: <select  name="role">
    <option value="Employee">
        Employee
    </option>
    <option value="Manager">
        Manager
    </option>
</select><br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>
